<?xml version="1.0" encoding="UTF-8" ?>
<lorb version="1.0">
<config site="Lorb Webstyle System" domain="http://localhost/lorb/lorb">
    <application>
        <baseURL>/lorb/lorb/</baseURL>
        <serverRoot></serverRoot>
        <subdomain></subdomain>
    </application>
    <dbconnection  default='off1'>
      <db name="off1" type="mysql">
          <host>localhost</host>
          <port />
          <username>root</username>
          <dbname>lorb</dbname>
      </db>
      <db name='home1' type='mysql'> 
          <host>localhost</host>
          <port>3308</port>
          <username>root</username>
          <dbname>lorb</dbname>
      </db>
      <db name='home2' type='mysql'>
          <host>localhost</host>
          <port>10061</port>
          <username>root</username>
          <dbname>lorb</dbname>
          <password>eteng</password>  
      </db>  
    </dbconnection>
</config>
</lorb>