<?xml version="1.0"?>
<lorb version="1.0">
<config site="Lorb Webstyle System" domain="http://localhost/lorb/lorb">
    <dbconnection>
      <db name="dbcon1" type="mysql">
          <server>localhost</server>
          <username>root</username>
          <dbname>lorbin</dbname>
          <password></password>
      </db>
      <db></db>
    </dbconnection>
</config>
</lorb>