<?xml version="1.0" encoding="UTF-8" ?>
<lorb version="1.0">
<config lang="en" site="Lorb Webstyle System" domain="http://localhost/lorb/lorb">
    <application>
        <baseURL>/lorb/lorb/</baseURL>
        <serverRoot></serverRoot>
        <subdomain></subdomain>
    </application>
    <dbconnection default='nashdb'>
      <db name="off1" type="mysql">
          <host>localhost</host>  <port />
          <username>root</username>
          <dbname>lorb</dbname>
      </db>
      <db name='nashdb' type='mysql' host='10.11.25.106' port='3306' username='root' dbname='timekeeper' />
      <db name='hm1' type='mysql' host='localhost' port='3308' username='root' dbname='lorb' />
      <db name='hm2' type='mysql' host='localhost' port='10061' username='root' dbname='lorb' password='eteng'/>
    </dbconnection>
</config>
<include>
    <js>
        <lib name="dojo" version="1.3.2"  />
        <lib name="jquery" version="1.3.2" />
    </js>
    <ajax></ajax>
    <css></css>
</include>
</lorb>